* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: sans-serif;
  background-color: #3c5b6f;
  color: white;

  /* card */
  section {
    padding: 40px;
    min-width: 300px;
    background-color: #153448;
    border-radius: 12px;
    box-shadow: 0 1rem 2rem #c3c3c333;

    /* header card */
    h3 {
      width: fit-content;
      margin-bottom: 30px;
      margin: 0 auto 25px;
      text-align: center;
      font-size: 30px;

      @media (max-width: 400px) {
        font-size: 20px;
      }
    }

    /* div of all inputs */
    .inputs {
      display: flex;
      gap: 40px;
      margin-bottom: 20px;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      @media (max-width: 600px) {
        flex-direction: column;
        gap: 15px;
      }

      /* parent of span valid and input */
      div {
        width: 100px;
        display: flex;
        flex-direction: column;

        /* tag input */
        input {
          outline: none;
          padding: 10px 15px;
          border: none;
          border-radius: 8px;
        }

        /* span of invalid or not */
        span {
          color: #fc3c3c;
        }
      }
    }

    /* div of btn click and clear */
    .btns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-bottom: 23px;

      /*  */
      button {
        padding: 12px 24px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        font-size: 16px;
      }

      /*  */
      button#btn-submit {
        background-color: #344c64;
      }

      button#btn-clear {
        background-color: #fc3c3c;
      }
    }

    /* all span of text birthday  */
    .calc-age {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      font-weight: 700;
      font-size: 18px;

      /* span of text birthday */
      span {
        color: #5aa469;
      }
    }
  }
}
